h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url(download\ \(8\)\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; /*para q no se mueva al scrollear*/
}
nav{
    background: #ffffff; 
    border-radius: 15px; /*esquinas redondas*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /*sombra alrededor*/
    max-width: 1000px; /*ancho maximo*/
    margin: 20px auto; /*centrar y margen superior e inferior*/
    padding: 10px 20px; /*separacion entre bordes*/
}
#nav ul{
    list-style: none; /*elimina viñetas*/
    margin: 0; /*elimina el margen*/
    padding: 0; /*igual q el margen, elimina el paddind*/
    display: flex; /*coloca los elementros de q en filas*/
    justify-content: space-around; /*espacio entre los items*/
    flex-wrap: nowrap; /*no deja q se bajen a la otra linea*/

}
#nav ul li{
    margin: 0; /*quita los margenes*/
}
#nav ul li a{
    text-decoration: none; /*para q quite el subrayado del link*/
    color: #333; /*color del texto*/
    font-weight: bold; /*negrita*/
    padding: 12px 18px; 
    border-radius: 10px; /*esquinas redondas en el fondo del link*/
    transition: all 0.3s ease; /*trasnicion*/
    display: block; /*hace que el enlace en el bloque se vuelva clicable*/
    white-space: nowrap; /*evita que el texto se divida en varias lineas*/
}
#nav ul li a:hover{
    background:#994d49 ;
    color: white; /*cambia el color del texto*/
    transform: translateY(-3px);/*es una animacion q sube el texto*/
    box-shadow: 0 4px 8px rgba(37, 36, 60, 0.4); /*sombra al pasar el raton*/
}
h2, h3{
    margin: 10px 0; /*margen arriba y abajo*/
    font-weight: bold;
}
h2 {
    font-size: 1.4rem; /* mas pequeño q h1*/
    color: #611717fc; /* Color gris oscuro */
    border-left: 5px solid #994d49; /* linea vertical a la izq*/
    padding-left: 8px; /* espacio entre texto y liena */
}
h3 {
    font-size: 1.2rem; /* mas chiquito q h2 */
    color: #8d3838;
}
section{
    max-width: 900px; /* lim d ancho de las secciones*/
    background: #fff;
    margin: 25px auto; /* agrega espacio y centra la seccion*/
    padding: 20px 25px; /* Eespacio interno*/
    border-radius: 10px; /* bordes redondos*/
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08); /* sombra debajo de la seccion*/
    transition: transform 0.2s ease-in-out; /* animacion*/
}
section:hover{
    transform: translateY(-5px); /* sube la seccion*/
}
pre {
    background:#272822 ;
    color: #ffffff; 
    opacity: 0.9; 
    padding: 12px; /* espacio interno*/
    border-radius: 6px; 
    overflow-x: auto; /* si es  */
    font-size: 0.9rem; /* texto pequeño*/
    margin: 12px 0; /* arriba y abajo espacio */
}
