body {
  background: linear-gradient(135deg, #e5fdfc, #398383);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

.login-card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  padding: 2.5rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo-img {
  width: 100px;       
  height: auto;
}

h3 {
  color: #008b8b;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.form-label {
  color: #006d6d;
  font-weight: 500;
  border-radius: 30px;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #00b7ad;

}

.btn-login {
  width: 100%;
  background-color: #008b8b;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 0.7rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: #417573;
  transform: translateY(-2px);
}

.text-center a {
  text-decoration: none;
  color: #008b8b;
  font-weight: 500;
}

.text-center a:hover {
  text-decoration: underline;
}
/* esto los uso para el sweet alert y corrgie saltos visuales en el sweet*/
body.swal2-shown {
  padding-right: 0 !important;
  overflow-x: hidden !important;
}

/* evita el desplazamiento*/
.swal2-container {
  z-index: 2000 !important;
}

/* centrar el fondo */
html, body {
  height: 100%;
  overflow-x: hidden;
}
