/* Estilo personalizado para SweetAlert */
.swal2-popup.custom-alert {
  width: 350px !important; /* más pequeño */
  border-radius: 20px !important; 
  background: #f8ffff !important; /* color suave */
  box-shadow: 0px 6px 15px rgba(44, 136, 136, 0.3) !important;
  font-family: 'Poppins', sans-serif !important;
}
.swal2-html-container{
    border-radius: 100px;
}

.swal2-title {
  color: #2c8888 !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.swal2-html-container {
  font-size: 15px !important;
  color: #444 !important;
}

.swal2-confirm {
   border-radius: 20px !important;
  background-color: #2c8888 !important;
  color: #fff !important;
  font-size: 14px !important;
  padding: 8px 25px !important;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15) !important;
  transition: all 0.3s ease !important;
}

.swal2-confirm:hover {
  background-color: #256e6e !important;
  box-shadow: 0 3px 10px rgba(44, 136, 136, 0.3) !important;
}
/* Botón cancelar */
.swal2-cancel {
  border-radius: 20px !important;
  background-color: #9ea5a8 !important;
  color: #fff !important;
  font-size: 14px !important;
  padding: 8px 25px !important;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15) !important;
  transition: all 0.3s ease !important;
}

.swal2-cancel:hover {
  background-color: #7d8589 !important;
  transform: translateY(-2px);
}
.swal2-input, .swal2-select {
    border-radius: 20px !important;
}
